
  <div class="footer-copyright green">
    <div class="container center">
      <a style = "color: black" href='https://www.androidauthority.com/news/' target="_blank">Source content from Android Authority</a>
      
    </div>
  </div>
