  <nav>
    <div class="nav-wrapper green">
      <a href="/" class="brand-logo center" style = "color: black">Android News Scraper</a>
      <ul class="left" id="nav-mobile">
        {{!-- <li><a href="/scrape">Scrape</a></li> --}}
        {{!-- <li><a href="https://github.com/JVNguyen56/News-Scraper" target="_blank">Git Repo</a></li> --}}
        {{!-- <li><a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a></li> --}}
      </ul>
    </div>
  </nav>